<html>
	<head>
		<title> fun times </title>

{% load static %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'static/stylesheet.css' %}">

	</head>



	<body>

	<h1><b> {{ fun_question.question_text }} </b></h1>


	<p> {% if fun_question.image.url is not None %}

		<img src="{{ fun_question.image.url }}"/><br>

		{% endif %}

		{% for choice in fun_choices %}

		<A href="{% url 'choice' choice.pk %}">{{ choice.choice_text }}</A>
		<br>

		{% endfor %}
	</p>

	</body>
</html>
