<html>
	<head>
		<title> fun times </title>

{% load static %} 

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'static/stylesheet.css' %}">

	</head>
	<body>

<h2> look, it's a form </h2>

<form role="form" action="" method="post">

    {% csrf_token %}

    {{ form.as_p }}

    <button type="submit">Submit</button>

</form>


</body>

</html>